
.form{
    margin-top: 0px;
    margin-bottom: 120px;
}

.agregar{
    background-color: var(--secondary);
    margin-left: 10px;
    padding: 4px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 50px;
    transition-duration: .5s;
}



.agregar:hover{
    background-color: var(--primary);
    transform: scale(1.05);
    transition-duration: .5s;
    
}

